<!Doctype html>
<html>

<head>
    <title>Forum Home</title>
    <link rel="icon" href="/img/Monster_Hunter_Logo.png">
    <link href='css/threadSelectStyle.css' rel='stylesheet' type='text/css' />
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
    <link href='css/homepageStyle.css' rel='stylesheet' type='text/css' />
</head>

<body>
    {{> quick_tab}}

    <div id='bodybg'></div>

    <div id='bodyWrapper'>
        {{> (getBanner)}}

    </div>
    <div id="Homeforum">
        <div id="homebanner">News & Announcements</div>
        <div id="catepost">
            <div id="Homeavatar" class="category">
                <div id="imgavatar"></div>
            </div>
            <div id="Homecategory">
                <a href="https://monsterhunterworld.wiki.fextralife.com/Patch+Notes" id="catetext">Game Patch Notes V 3.02 </a>
            </div>
        </div>
        <div id="gridcont" class="grid-container">
            <div class="item1">
                <div class="itemimg1"></div>
                <div class="itemtext1">
                    <a onclick="window.location='/0=category_general';" class="textbox1">General</a>
                </div>
            </div>
            <div class="item2">
                <div class="itemimg1" id="img2"></div>
                <div class="itemtext1">
                    <a onclick="window.location='/1=category_gameplay';"v class="textbox1">GamePlay</a>
                </div>
            </div>
            <div class="item3">
                <div class="itemimg1" id="img3"></div>
                <div class="itemtext1">
                    <a onclick="window.location='/2=category_offtopic';" class="textbox1">Off-Topic</a>
                </div>
            </div>
            <div class="item4">
                <div class="itemimg1" id="img4"></div>
                <div class="itemtext1">
                    <a onclick="window.location='/3=category_support';" class="textbox1">Support</a>
                </div>
            </div>
        
        </div>
    </div>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>