<!Doctype html>
<html>

<head>
  <title>Forum Home</title>
  <link rel="icon" href="/img/Monster_Hunter_Logo.png">
  <link href='css/style.css' rel='stylesheet' type='text/css' />
  <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
</head>

<body>
  {{> quick_tab}}

  <div id='bodybg'></div>

  <div id='bodyWrapper'>

    {{> (getBanner)}}


    <div id='discussSelect'>
      <div id='monhun' class='topic'>
        <b><a id="topicTitle" href='/postThread'>Monster Hunter</a></b> {{> topicListTemp}}
        {{#each thread}}
          {{> threadLinkTemp}}
        {{/each}}
      </div>

      <form id='goThread' action='/postThread' method="POST">
        <b id="makeThreadButton"><a id="makethread" onclick="document.getElementById('goThread').submit()" href='#'>Create New Thread</a></b>
        <input style='display: none;' value={{getUser}} name='username'></input>
      </form>

    </div>

    <p style="display: none;" id="dupeCheck">{{setBrowserFlag}}</p>
    <p style="display: none;" id="loginCheck">{{setLoginCheck}}</p>

  </div>
  <script src='js/index.js'></script>
  <script type='text/javascript'>
    var browser_dupe = document.getElementById("dupeCheck").innerHTML;
    var loginCheck = document.getElementById("loginCheck").innerHTML;

    if (browser_dupe == 1) {
      alert("New Account Created!")
    }

    if (loginCheck == 1) {
      document.getElementById("makeThreadButton").style.display = 'block'
    }
  </script>
</body>

</html>
