<!Doctype html>
<html>
    <head>
        <title>Create Thread</title>
        <link rel="icon" href="/img/Monster_Hunter_Logo.png">
        <link href='css/threadSelectStyle.css' rel='stylesheet' type='text/css' />
        <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
    </head>

    <body>
         {{> quick_tab}}
        
        <div id='bodybg'></div>

        <div id='bodyWrapper'>
            {{> logBanner}}

            <div id='discussSelect'>
               <div id='monhun' class='topic'>

                   <div class='topicTitle'>
                       <b>Create New Thread</b>
                   </div>

                   <form class="textContainer" action='/postResult' method='POST'>

                       <input class="Title" id='topTitle' required="required" name='topTitle' type="text" maxlength="70" placeholder="Thread Title">
                       <br>

                       <br>
                       <textarea class="Text" id='topPost' width='50%' required="required" name='topContent' rows="6" col="100" maxlength="600" placeholder="Content"></textarea>

                       <br>
                        <textarea style="display: none" name="cat_id">{{cat_id}}</textarea>
                        <button id="thread_submit" type="submit" name='currentUser' value={{getUser}}>Confirm</button>
                       {{!-- <input id="thread_submit" name='currentUser' value={{getUser}} type="submit"> --}}
                   </form>
                </div>
            </div>

        </div>
        <script src='js/index.js'></script>
        <script>
            console.log(`getUser`)
        </script>

    </body>
</html>
