<!Doctype html>
<html>
    <head>
        <title>Register</title>
        <link rel="icon" href="/img/Monster_Hunter_Logo.png">
        <link href='css/threadSelectStyle.css' rel='stylesheet' type='text/css' />
        <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
    </head>

    <body>
         {{> quick_tab}}
        
        <div id='bodybg'></div>

        <div id='bodyWrapper'>
            {{> topBanner}}

            <div id='discussSelect'>
               <div id='monhun' class='topic'>

                   <div class='topicTitle'>
                       <b>New User Registration</b>
                   </div>

                   <form id='regContainer' class="regContainer" action='/postReg' method='POST'>

                       <p id="errorMsg" style="color: red;">{{getDupe}}</p>

                       <br>
                       <label id="user_text">Username:</label>
                       <input id='new_user' name='new_user' required="required" type="text">
                       <div id="user_checkmark"></div>
                       <br>

                        <label id="user_error" style="color: red;"></label><br>

                       <br>
                       <label id="pass_text">Password:</label>
                       <input id='new_pass' name='new_pass' required="required" type="password">
                       <div id="pass_checkmark"></div>
                       <br>

                        <label id="pass_error" style="color: red;"></label><br>

                       <br>
                       <label id="conf_text">Confirm Password:</label>
                       <input id='confirm_pass' name='confirm_pass' required="required" type="password">

                       <div id="conf_checkmark"></div>

                       <br>

                        <label id="conf_error" style="color: red;"></label><br>

                       <br>
                       <input id="gogo" type="button" value='Submit'>

                       <p hidden id="dupeCheck">{{setBrowserDupe}}</p>
                   </form>

                </div>
            </div>

        </div>
        <script src='js/index.js'></script>
        <script src='js/register.js'></script>
    </body>
</html>
