<!Doctype html>
<html>

<head>
  <title></title>
</head>

<body>

    <div style='display:none;'>
        {{> logBanner}}
    </div>

  <form id="checkForm" style="display: none;" action='/welcome' method='post'>
    <input  id='logger' value='' name='loginCheck'>
    <input  id='userNow' value='' name='userNow'>
  </form>

  <script src="js/logCheck.js"></script>
</body>

</html>
