#Homeforum {
    width:70vw;
    height:69vh;
    background-color:darkslategray;
    position: absolute;
    left:0px;
    right:0px;
    top:27%;
    margin:auto;
    border:3px solid grey;
    padding:5px;
    background-color: #d2d3d4;
}

#Homeavatar {
    width:18%;
    height:100%;
    position: relative;
    display:inline-block;
    border-right:2px solid rgba(0, 0, 0, .4);
    background-image:url("/img/testing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#Homecategory{
    width:80%;
    height:100%;
    vertical-align:top;
    position: relative;
    display:inline-block;
    font-family:"cinzel decorative";
    color:white;
}

#catepost{
    width:64.8vw;
    height:20%;
    left:3.25%;
    border-bottom:2px solid rgba(0, 0, 0, .4);
    position: relative;
    top:3%;
    border:3px solid black;
    background-color: darkslategray;
}
#homebanner {
    left:3.25%;
    top:3.3%;
    width:64.8vw;
    background-color:black;
    color:white;
    text-align:center;
    position: relative;
    font-family:"cinzel decorative";
    border-right:3px solid black;
    border-left:3px solid black;
}


#catetext {
    width:75%;
    left:20%;
    font-size:2.5vw;
    text-align:left;
    top:20%;
    position: relative;
    color:white;
}
.grid-container {
    position: absolute;
    width: 65.25vw;
    height: 40vh;
    top:25%;
    left:0%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1vw;
    padding: 2.5vw;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto;
    border:3px solid black;
}

.item2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto;
    border:3px solid black;
}

.item3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto;
    border:3px solid black;
}

.item4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end:2;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto;
    border:3px solid black;
}

.itemimg1 {
    grid-column-start:1;
    grid-column-end:1;
    grid-row-start: 1;
    grid-row-end:1;
    background-image:url("/img/categoryimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.itemtext1 {
    grid-column-start:2;
    grid-column-end:4;
    grid-row-start: 1;
    grid-row-end:1;
    background-color: darkslategrey;
    text-align: center;
    width:100%;
    position: relative;
}

.itemtext1:hover, .itemtext1:active {
    background-color: #106853;
    cursor: pointer;
    
}

.textbox1 {
    position: relative;
    top:25%;
    bottom:0px;
    right:0px;
    left:0px;
    font-size:2.5vw;
    font-family:"cinzel decorative";
    color: white;
    position: absolute;
}

#img2 {
    background-image:url("/img/categoryimage2.jpg");
}

#img3 {
    background-image: url("/img/categoryimage3.jpg");
}

#img4 {
    background-image: url("/img/categoryimage4.jpg");
}

