/* body wrapper */

#bodyWrapper {
  top: 0;
  left: 0;
  position: static;
  width: 98.2vw;
}

/* credentials */

#credentials {
  top: 20vh;
  right: 0px;
  height: 5vh;
  width: 90%;
  margin: auto;
  position: fixed;
  z-index: 9998;
}

#welcome {
  top: -825%;
  bottom: 0%;
  left: -10%;
  height: 50%;
  width: 50%;
  display: inline-block;
  position: absolute;
  margin: auto;
  color: white;
  font-size:100%;
}

#loginInput {
    top: 10%; right: 5vw;
    height: 75%; width: 20vw;
  display: inline-block;
  position: absolute;
  margin: auto;
  font-size: 2vh;
}
#logoutInput {
    top: 30%; right: 2%;
    position: absolute;
    display: inline-block;
    margin: auto;
    font-size: 100%;
}

#loginCheck {
  top: 3.5;
  right: 0px;
  height: 75%;
  width: 19%;
  display: inline-block;
  position: absolute;
  margin: auto;
  font-size: 105%;
  z-index: 0;
}

.credField {
  margin: 1%;
  display: inline-block;
  width: 44%;
  height: 60%;
  font-size: 100%;
}

#remember {
  width: 4%;
  height: 50%;
}

#loginBut {
  font-size: 1vw;
  background-color: darkslategrey;
  color: white;
  border-color: grey;
  border-style: solid;
  width: 75px;
  height: 5vh;
  text-align: center;
  position: absolute;
  font-family: 'Cinzel Decorative', cursive;
  right: 0px;
  top: 0px;
}

#logoutInput {
  top: 0px;
  font-size: 1vw;
  width: 75px;
  height: 86%;
  text-align: center;
  line-height: 200%;
  position: absolute;
  font-family: 'Cinzel Decorative', cursive;
}

#logout_but {
    position: absolute;
    font-family: 'Cinzel Decorative', cursive;
    background-color: darkslategrey;
    color: white;
    width: 80px;
    height: 5vh;
    border-style: solid;
    border-color: grey;
    left: 30%;
}

/*TODO: adjust images to fit different screen sizes*/

/* banner */

#banner {
  left: 0;
  top: 0;
  height: 20vh;
  width: 100%;
  background-image: url("/img/banner1.jpg");
  background-position: top center;
  background-size: cover;
  display: inline-block;
  position: fixed;
  z-index: 10;
}

#logo {
  height: 90%;
  width: 14%;
  background-image: url("/img/Monster_Hunter_Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 33%;
  top: 5%;
}

#logo:hover {
  cursor: pointer;
}

#reg_but {
  position: absolute;
  font-family: 'Cinzel Decorative', cursive;
  background-color: darkslategrey;
  color: white;
  border-style: solid;
  border-color: grey;
  border-radius: 25px;
}

/*body background*/

/*TODO: make bg static on the back while page scrolls*/

#bodybg {
  left: 0;
  top: 0;
  height: 125vh;
  width: 100vw;
  background-image: url('/img/MH_bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
  position: fixed;
  z-index: 0;
}

/* search bar */

#searchBar {
  left: 0;
  top: 20vh;
  height: 5vh;
  width: 100%;
  display: inline-block;
  background-color: lightgrey;
  position: fixed;
  z-index: 10;
  background-image: url("/img/banner2.jpg");
  background-repeat: repeat;
  background-size: 25%;
  background-position: center;
}

#searchMenu {
  left: 1%;
  height: 5%;
  width: 12%;
  position: fixed;
}

#recent {
  left: 5%;
  position: absolute;
}

#forum_home:link, #forum_home:visited {
  line-height: 165%;
  height: 86%;
  width: 10vw;
  background-color: darkslategrey;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3vw;
  border-style: solid;
  border-color: grey;
  position: absolute;
  font-family: 'Cinzel Decorative', cursive;
}

#forum_home:hover, #forum_home:active {
  background-color: slategrey;
  font-size: 125%;
  font-size: 1.3vw;
}

#searchBox {
  right: 1%;
  height: 100%;
  width: 125px;
  position: absolute;
}

#searchType {
  top: 0;
  bottom: 0;
  right: 10%;
  height: 65%;
  position: absolute;
  margin: auto
}

/* hot topics */

/* #hotTopic {
        right: 1%; top: 35vh;
        width: 15%; height: 60vh;
    position: absolute;
    margin: auto;
    background-color: aqua;
}
#hotTopicTitle {
        top: 1%;
        left: 0; right: 0;
    position: absolute;
    margin: auto;
    font-size: 200%;
} */

/* forum type selections */

#quick_tab {
  height: 250px;
  width: 10vw;
  left: 1%;
  background-color: #D3D3D4;
  border-color: grey;
  border-style: solid;
  top: -100px;
  position: fixed;
  z-index: 10000;
  border-radius: 25px;
  text-align: center;
  transition: 0.2s;
  z-index: 1;
}

#tab_title {
  font-weight: bold;
  font-family: 'Cinzel Decorative', cursive;
  color: white;
  position: relative;
}

.tab_but {
  left: 0px;
  right: 0px;
  margin: 1%;
  width: 8vw;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  position: relative;
  font-size: 110%;
  top: 65px;
  bottom: 0px;
  color: white;
  background-color: darkslategrey;
  border-style: solid;
  border-color: grey;
  border-radius: 25px;
}

#discussSelect {
  left: 0px;
  right: 0px;
  top: 27vh;
  width: 65%;
  height: auto;
  position: absolute;
  margin: auto;
  background-color: aliceblue;
}

#monhun {
  padding: 1%;
  margin: 1%;
}

#topicTitle:link, #topicTitle:visited {
  color: green;
  text-decoration: none;
  font-size: 150%;
  font-family: 'Cinzel Decorative', cursive;
}

#topicTitle:hover, #topicTitle:active {
  text-decoration: underline;
  font-size: 150%;
}

a.threadTitle:link {
  color: white;
  text-decoration: none;
}

a.threadTitle:visited {
  color: silver;
  text-decoration: none;
}

a.threadTitle:hover, a.threadTitle:active {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.topic {
  width: 96%;
  height: 93%;
  border: 1px solid black;
  margin: 2%;
}

.topicBanner {
  width: 99.7%;
  height: 2%;
  margin: 0.2%;
  background-color: dimgrey;
  color: white;
  margin: 0.1%;
  display: inline-block;
}

.topicContainer {
  width: 75%;
  padding-left: 0.5%;
  background-color: black;
  display: inline-block;
}

.statsContainer {
  width: 10%;
  background-color: white;
  display: inline-block;
  color: black
}

.latestContainer {
  width: 13.6%;
  background-color: white;
  display: inline-block;
  color: black
}

/* Topics Styling */

.Thread {
  width: 99.6%;
  height:auto;
  margin: 0.25%;
  background-color:darkslategrey;
  color: white;
  display: inline-block;
}

.threadContainer {
  font-size:110%;
  width: 75%;
  height:50px;  
  padding-left: 0.5%;
  color: white;
  display: inline-block;
}

.countContainer {
  width: 10vw;
  display: inline-block;
  color: white;
  border:2.2px solid darkseagreen;
  position: relative;
  bottom:-3px;
}

.recentContainer {
  width: 12vw;
  display: inline-block;
  color: white;
  position: relative;
  border:2px solid darkseagreen;
  left:50%;
  bottom:43.5px;
  margin:auto;
}

.threadInfo {
  display: block;
}

.statsInfo {
  display: block;
}

.Text {
  width: 98.7%;
  height: 50%;
}

.recentInfo {
  display: block;
}

/* Create post button */

#makeThreadButton {
  display: none;
}

#makethread:link, #makethread:visited {
  line-height: 175%;
  background-color: darkslategrey;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1%;
  font-size: 110%;
  position: fixed;
  border-radius: 30px;
  border-color: grey;
  border-style: solid;
  font-family: 'Cinzel Decorative', cursive;
  right: 1%;
  bottom: 1%;
}

#makethread:hover, #makethread:active {
  background-color: slategrey;
  border-radius: 30px;
  border-color: grey;
  font-family: 'Cinzel Decorative', cursive;
  border-style: solid;
  font-size: 110%;
  position: fixed;
  right: 1%;
  bottom: 1%;
}

#username, #password {
  height:70%;
}
