/* body wrapper */

#bodyWrapper {
  top: 0;
  left: 0;
  position: static;
  width: 98.2vw;
}

/* credentials */

#credentials {
  top: 20vh;
  right: 0px;
  height: 5vh;
  width: 90%;
  margin: auto;
  position: fixed;
  z-index: 9998;
}

#welcome {
  top: -825%;
  bottom: 0%;
  left: -10%;
  height: 50%;
  width: 50%;
  display: inline-block;
  position: absolute;
  margin: auto;
  color: white;
  font-size: 100%;
}

#loginInput {
  top: 3%;
  right: 5vw;
  height: inherit;
  width: 20vw;
  display: inline-block;
  position: absolute;
  margin: auto;
  font-size: 2vh;
}

#loginCheck {
  top: 21vh;
  right: 5.5%;
  height: 47%;
  width: 19%;
  display: inline-block;
  position: absolute;
  margin: auto;
  font-size: 105%;
  z-index: 0;
}
#logoutInput {
    top: 30%;
    right: 2%;
    position: absolute;
    display: inline-block;
    margin: auto;
    font-size: 100%;
}
.credField {
  margin: 1%;
  display: inline-block;
  width: 44%;
  height: 60%;
  font-size: 100%;
}

#remember {
  width: 4%;
  height: 50%;
}

#loginBut {
  top: -856%;
  right: -25%;
  height: 3vh;
  width: 5vw;
  position: absolute;
  font-size: 1vw;
}

#loginerror {
  color: red;
  width: 40%;
  left: 0px;
  right: 0px;
  margin: auto;
}

/*TODO: adjust images to fit different screen sizes*/

/* banner */

#banner {
  left: 0;
  top: 0;
  height: 20vh;
  width: 100%;
  background-image: url("/img/banner1.jpg");
  background-position: top center;
  background-size: cover;
  display: inline-block;
  position: fixed;
  z-index: 10;
}

#logo {
  height: 90%;
  width: 14%;
  background-image: url("/img/Monster_Hunter_Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 33%;
  top: 5%;
}

#logo:hover {
  cursor: pointer;
}

/*body background*/

/*TODO: make bg static on the back while page scrolls*/

#bodybg {
  left: 0;
  top: 0;
  height: 125vh;
  width: 100vw;
  background-image: url('/img/MH_bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
  position: fixed;
}

/* search bar */

#searchBar {
  left: 0;
  top: 20vh;
  height: 5vh;
  width: 100%;
  display: inline-block;
  background-color: lightgrey;
  position: fixed;
  z-index: 10;
  background-image: url("/img/banner2.jpg");
  background-repeat: repeat;
  background-size: 25%;
  background-position: center;
}

#searchMenu {
  left: 1%;
  height: 5%;
  width: 12%;
  position: fixed;
}

#forum_home:link, #forum_home:visited {
  line-height: 165%;
  height: 86%;
  width: 27%;
  background-color: darkslategrey;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding-left: 4%;
  padding-right: 10%;
  font-size: 1.3vw;
  border-radius: 40px;
  border-style: solid;
  border-color: grey;
  position: absolute;
  font-family: 'Cinzel Decorative', cursive;
}

#forum_home:hover, #forum_home:active {
  background-color: slategrey;
  font-size: 125%;
  font-size: 1.3vw;
}

#searchBox {
  right: 1%;
  height: 100%;
  width: 30%;
  position: absolute;
}

#searchType {
  top: 0;
  bottom: 0;
  right: 10%;
  height: 65%;
  position: absolute;
  margin: auto
}

/* hot topics */

/* #hotTopic {
        right: 1%; top: 35vh;
        width: 15%; height: 60vh;
    position: absolute;
    margin: auto;
    background-color: aqua;
}
#hotTopicTitle {
        top: 1%;
        left: 0; right: 0;
    position: absolute;
    margin: auto;
    font-size: 200%;
} */

/* forum type selections */

#discussSelect {
  left: 0px;
  right: 0px;
  top: 27vh;
  width: 90%;
  height: 60vh;
  position: absolute;
  margin: auto;
  background-image: url("/img/parchment.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#thread_submit {
  position: absolute;
  bottom: 10%;
  left: 34.7%;
}

.topic {
  width: 96%;
  height: 100%;
  margin: 2%;
}

.topicTitle {
  height: 8%;
  text-align: center;
  padding: 2%;
  margin: 0.2%;
  color:white;
  font-size: 200%;
  font-family: 'Cinzel Decorative', cursive;
}

/* Topics Banner Styling */

.topicBanner {
  width: 99.7%;
  height: 2%;
  margin: 0.2%;
  background-color: dimgrey;
  color: white;
  display: inline-block;
}

.topicContainer {
  width: 75%;
  padding-left: 0.5%;
  background-color: black;
  display: inline-block;
}

.textContainer {
  height: 65%;
  margin-top: 5%;
}

.Title {
  width: 99%;
}

.Text {
  width: 98.7%;
  height: 50%;
}

/* register styling */

.regContainer {
  height: 80%;
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
  color: white;
}

#new_user {
  display: inline-block;
}

#new_pass {
  display: inline-block;
}

/* Thread post template styling*/

#topicTitle {
  color: lightblue;
  text-decoration: none;
  font-size: 150%;
}

#post_div {
  left: 16.5%;
  top: 27vh;
  width: 65%;
  height: 90%;
  position: absolute;
  margin: auto;
  padding: 1%;
}

#quick_reply {
  position: absolute;
  top: 40%;
  left: 35%;
  color: white;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
}

#topPost {
  left: 0px;
  right: 0px;
  position: absolute;
  margin: auto;
  width: 30%;
  height: 35%;
}

.post_info {
  position: relative;
  width:15%;
  height:auto;
}

.post_text {
  position: relative;
  top:-70px;
  left: 20%;
  width:75%;
  color: aliceblue;
  font-size:15px;
  border-left:3px solid white;
  padding:10px;
}

.userpost {
  position: relative;
  height: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  border-style: solid;
  border-color: aliceblue;
  color: aliceblue;
  word-break: break-all;
  background-color:black;
}

pre {
  white-space: pre-line;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-break: keep-all;       /* Internet Explorer 5.5+ */
}

#makePostButton {
  display: none;
}

#makepost:link, #makepost:visited {
  line-height: 175%;
  background-color: darkslategrey;
  border-radius: 30px;
  border-color: grey;
  font-family: 'Cinzel Decorative', cursive;
  border-style: solid;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1%;
  font-size: 110%;
  position: fixed;
  right: 1%;
  bottom: 1%;
}

#makepost:hover, #makepost:active {
  background-color: slategrey;
  border-radius: 30px;
  border-color: grey;
  font-family: 'Cinzel Decorative', cursive;
  border-style: solid;
  font-size: 110%;
  position: fixed;
  right: 1%;
  bottom: 1%;
}

#confirm_pass {
  left:-29px;
  position: relative;
}
#conf_text {
  left:-29px;
  position: relative;
}
#gogo {
  left:30px;
  position: relative;
}

