<div id='credentials'>
    <div id='welcome'>
        <strong id="welcomeMsg"><i>Welcome Back {{getUser}}!</i></strong>
    </div>
    
    <form id='logoutInput' action="/logOut" method="post">
        <button type="submit" name='username' value={{getUser}}>Log Out</button>
    </form>
</div>

<div id='banner'>
  <div id="logo" onclick="window.location='/login';"></div>
</div>

<div id='searchBar'>
    <div id='searchMenu'>
          <b><a id="forum_home" href='/login'>Home</a></b>
    </div>
</div>

<p style="display: none;" id="currentUser" >{{getUser}}</p>
