<div id='welcome'>
    <strong id="welcomeMsg">
        <i>Welcome Back {{getUser}}!</i>
    </strong>
</div>

<div id='credentials'>
    <form id='logoutInput' action="/logOut" method="post">
        <button id="logout_but" type="submit" name='username' value={{getUser}}>Log Out</button>
    </form>
</div>

<div id='banner'>
  <div id="logo" onclick="window.location.href='/login'"></div>
</div>

<div id='searchBar'>
    <div id='searchMenu'>
        <a id="forum_home2" onclick="window.location='/';">Home</a>
        <div id="forum_home">Menu</div>
    </div>
</div>

<p style="display: none;" id="currentUser" >{{getUser}}</p>
