<div id='quick_tab'>
    <a id='but_1' class='tab_but' onclick="window.location='/homepage';">HOME</a>
    <a id='but_2' class='tab_but' onclick="window.location='/general';">General</a>
    <a id='but_3' class='tab_but' onclick="window.location='/gameplay';">Gameplay</a>
    <a id='but_4' class='tab_but' onclick="window.location='/faq';">FAQ</a>
    <a id='but_5' class='tab_but' onclick="window.location='/support';">Support</a>
    <a id='close_but' class='tab_but' onclick="window.location='/news';">News</a>
    <div id="invis_div"></div>
</div>