<div id='quick_tab'>
    <a id='but_1' class='tab_but' onclick="window.location='/1=Beat_Barroth?';">General</a>
    <a id='but_2' class='tab_but'>Gameplay</a>
    <a id='but_3' class='tab_but'>FAQ</a>
    <a id='but_4' class='tab_but'>Support</a>
    <a id='but_5' class='tab_but'>News</a>
    <a id='close_but' class='tab_but'>HOME</a>
    <div id="invis_div"></div>
</div>