<div id='quick_tab'>
    <a id='but_2' class='tab_but' onclick="window.location='/0=category_general';">General</a>
    <a id='but_3' class='tab_but' onclick="window.location='/1=category_gameplay';">Gameplay</a>
    <a id='but_4' class='tab_but' onclick="window.location='/2=category_offtopic';">Off-Topic</a>
    <a id='but_5' class='tab_but' onclick="window.location='/3=category_support';">Support</a>
</div>