<div id='quick_tab'>
    <div id='tab_title'>Categories</div>
    <button class='tab_but' onclick="window.location='/1=Beat_Barroth?';" >General</button>
    <button class='tab_but'>Lore</button>
    <button class='tab_but'>Gameplay</button>
    <button class='tab_but'>News</button>
    <button class='tab_but'>Patch Notes</button>
    <button class='tab_but'>Chat</button>
</div>