<div id='welcome'>
    <span>
        Hello and welcome to our forum.
        <strong>
            <i>Is this your first visit?</i>
        </strong>
    </span>
    <input id="reg_but" type=button value="Register" onclick="window.location.href='/register'" />
</div>

<form id='credentials' action="/checkCred" method="POST">
    <div id='loginInput'>
        <input id='username' type='text' class='credField' placeholder='Username' name="user"/>
        <input id='password' type='password' class='credField' placeholder='Password' name="pass" />
    </div>
    <div id='loginCheck'>
        <!---<input id='remember' type='checkbox' name="remember" value='True'>Remember Me--->
        <button id='loginBut' type="submit">Log In</button>
    </div>
</form>


<div id='banner'>
  <div id="logo" onclick="window.location.href='/login'"></div>
</div>

<div id='searchBar'>
    <div id='searchMenu'>
          <div id="forum_home">Menu</div>
    </div>
</div>
