<div class='topicBanner'>
    <span class='topicContainer'>Title</span>
    <span class='firstContainer'>Started by</span>
    <span class='latestContainer'>Last Post</span>
    <span class='statsContainer'>Stats</span>
</div>